<!DOCTYPE html>
<html>
  <head>
    <title>Clockify</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <section class="container is-fluid py-3">

      <% if current_user %>
        <h5 class="title is-size-5 mb-6"><%= current_user['name'] %></h5>
      <% end %>

      <% if flash.any? %>
        <% flash.each do |type, msg| %>
          <div class="<%= class_names('notification is-light mb-2', 'is-danger': type === 'danger', 'is-warning': type === 'notice') %>">
            <button class="delete"></button>
            <%= msg %>
          </div>
        <% end %>
      <% end %>

      <%= yield %>
    </section>
  </body>
</html>
